.dashboard-details__actions {
    margin-right: 50px;
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
}

.dashboard-details__actions div {
    width: 100%;
}

.dashboard-details__actions div ul {
    list-style: none;
    margin-top: 10px;
}

.dashboard-details__actions div ul li {
    margin: 20px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.dashboard-details__actions div ul li:hover {
    cursor: pointer;
}

.dashboard-details__actions div ul li img {
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .dashboard-details__actions {
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .dashboard-details__actions div ul {
        display: flex;
    }

    .dashboard-details__actions div ul li {
        width: 100%;
        margin: 10px;
        flex-direction: row;
    }

    .dashboard-details__actions div ul li img {
        margin-bottom: 0px;
        margin-right: 20px;
    }
}

@media (max-width: 500px) {
    .dashboard-details__actions div ul {
        flex-direction: column;
    }

    .dashboard-details__actions div ul li img {
        margin-right: 10px;
    }
}

@media (max-width: 500px) {
    .dashboard-details__actions div ul li {
        margin: 10px 0px;
        flex-direction: column;
    }

    .dashboard-details__actions div ul li img {
        margin-bottom: 10px;
        margin-right: 0px;
    }
}
