.card {
    padding: 20px 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-width {
    width: 65%;
    max-width: 900px;
}

@media (max-width: 600px) {
    .card {
        border: none;
        border-radius: 0px;
        background-color: rgb(245, 248, 250);
    }
}
