.page__spinner {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.page__spinner .spinner div {
    width: 5px;
    height: 12.5px;
    background: rgba(0, 0, 0, 0.4);
    transform-origin: 2.5px 20px;
}
