.spinner__wrapper {
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.spinner {
    width: 100%;
    height: 100%;
    padding-top: 3px;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    display: flex;
    justify-content: center;
}

.spinner div {
    position: absolute;
    animation: spinner_animation linear 0.5s infinite;
    border-radius: 4.8px / 4.8px;
}

.spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.4375ss;
}

.spinner div:nth-child(2) {
    transform: rotate(45deg);
    animation-delay: -0.375s;
}

.spinner div:nth-child(3) {
    transform: rotate(90deg);
    animation-delay: -0.3125s;
}

.spinner div:nth-child(4) {
    transform: rotate(135deg);
    animation-delay: -0.25s;
}

.spinner div:nth-child(5) {
    transform: rotate(180deg);
    animation-delay: -0.1875s;
}

.spinner div:nth-child(6) {
    transform: rotate(225deg);
    animation-delay: -0.125s;
}
.spinner div:nth-child(7) {
    transform: rotate(270deg);
    animation-delay: -0.0625s;
}

.spinner div:nth-child(8) {
    transform: rotate(315deg);
    animation-delay: 0s;
}

@keyframes spinner_animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
