.edit-teams-modal {
    width: 500px;
    padding: 0px 10px;
}

.edit-teams-modal h2 {
    width: 100%;
    margin: 10px 0px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-teams-modal__changes {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-teams-modal li {
    margin: 5px 0px;
}

.edit-teams-modal li span {
    font-weight: 600;
    margin: 0px 20px;
}

.edit-teams-modal__buttons {
    height: 30px;
    width: 100%;
    margin: 20px 0px 10px 0px;
    display: flex;
    justify-content: end;
}

.edit-teams-modal__buttons .btn-confirm-edit-teams {
    margin-right: 10px;
}

.edit-teams-modal__buttons .btn-cancel-edit-teams {
    margin-left: 10px;
}
