.how-it-works {
    width: 100%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-it-works h2 {
    font-size: 35px;
}

.how-it-works ul {
    width: 70%;
    margin-top: 30px;
    list-style: none;
}

.how-it-works ul .card {
    margin: 20px 0px;
    align-items: start;
}

.how-it-works ul .card:hover {
    cursor: pointer;
}

.how-it-works__top-part {
    display: flex;
    align-items: center;
}

.how-it-works__top-part h3 {
    color: black;
    margin: 0px 20px;
}

.how-it-works__top-part p {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 133, 245);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styles for when the description is shown */
.how-it-works ul .shown {
    background-color: rgb(34, 133, 245);
}

.how-it-works ul .shown .how-it-works__description {
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.how-it-works ul .shown h3 {
    color: rgb(255, 255, 255);
}

.how-it-works ul .shown .how-it-works__top-part p {
    color: rgb(34, 133, 245);
    background-color: rgb(255, 255, 255);
}

/* responsiveness */

@media (max-width: 750px) {
    .how-it-works ul {
        width: 80%;
    }

    .how-it-works ul .card {
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        background-color: white;
    }

    .how-it-works ul .shown {
        background-color: rgb(34, 133, 245);
    }
}
