.league-standings__field {
    height: 45px;
    width: 10%;
    min-width: 50px;
    border: 4px solid rgb(245, 248, 250);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.league-standings__heading-field {
    width: 65%;
    padding-left: 10px;
    background-color: rgb(34, 133, 245);
    color: rgb(255, 255, 255);
    justify-content: start;
}

.league-standings__heading-field a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.league-standings__points-field {
    background-color: rgb(34, 133, 245);
    color: rgb(255, 255, 255);
}
