.league-standings {
    width: 90%;
    max-width: 1000px;
    margin: 0px 50px;
}

.league-standings table {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.league-standings thead tr {
    display: flex;
}

.league-standings__space-header {
    width: 65%;
}

.league-standings__header-field {
    height: 20px;
    width: 10%;
    min-width: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 750px) {
    .league-standings {
        margin: 0px 30px;
    }

    .league-standings__header-field {
        height: 30px;
        font-size: 12px;
        width: 40px;
        min-width: unset;
    }
}

@media (max-width: 600px) {
    .league-standings {
        margin: 0px 10px;
    }

    .header-type__W,
    .header-type__D,
    .header-type__L {
        display: none;
    }
}
