.league-standings {
    width: 90%;
    max-width: 1000px;
    margin: 0px 50px;
}

.league-standings table {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.league-standings thead tr {
    display: flex;
}

.league-standings__space-header {
    width: 65%;
}

.league-standings__header-field {
    height: 20px;
    width: 10%;
    min-width: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
