.result-details {
    width: 500px;
}

.result-details__league-name {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 25px;
    display: flex;
    justify-content: center;
}

.result-details__league-name:hover {
    cursor: pointer;
}

.result-details__buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.result-details__buttons div {
    width: 100%;
    height: 36px;
}

.result-details__btn-save {
    margin-right: 15px;
}

.result-details__btn-cancel {
    margin-left: 15px;
}

@media (max-width: 750px) {
    .result-details {
        width: 400px;
    }
}

@media (max-width: 600px) {
    .result-details {
        width: 300px;
    }
}
