.about {
    width: 100%;
    padding: 0px 100px;
    box-sizing: border-box;
    overflow: hidden;
}

.about h2 {
    font-size: 30px;
}

.about section {
    margin: 30px 0px;
}

.about section h3 {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.15);
}

.about section p {
    margin: 30px 0px;
}

/* responsiveness */

@media (max-width: 750px) {
    .about {
        padding: 0px 20px;
    }
}
