.dashboard {
    width: 100%;
    padding: 40px 100px;
    box-sizing: border-box;
}

.dashboard-message h2 {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 30px;
}

.dashboard-details {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
}

.dashboard-details__main {
    display: flex;
}

.dashboard-details__fixtures {
    margin-top: 50px;
}

/* Shown fixtures styles */

.dashboard-details__fixtures h3 {
    font-size: 20px;
}

.dashboard-details__fixtures-date {
    margin: 5px 0px;
    padding: 5px 0px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.dashboard-details__fixtures ul {
    margin-top: 30px;
    list-style: none;
}

@media (max-width: 1150px) {
    .dashboard {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 1000px) {
    .dashboard-details__main {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .dashboard {
        padding-left: 30px;
        padding-right: 30px;
    }

    .dashboard-details .card {
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        background-color: white;
    }
}
