.edit-league__buttons {
    height: 35px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.edit-league__buttons .btn-add-team {
    width: 130px;
}

.edit-league__buttons .edit-league__changes {
    display: flex;
}

.edit-league__buttons .edit-league__changes .btn-save-league {
    width: 80px;
    margin-right: 10px;
}

.edit-league__buttons .edit-league__changes .btn-cancel-edit-league {
    margin-left: 10px;
}

/* responsiveness */

@media (max-width: 600px) {
    .edit-league__buttons .edit-league__changes .btn-cancel-edit-league {
        margin-left: 5px;
    }

    .edit-league__buttons .edit-league__changes .btn-save-league {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media (max-width: 400px) {
    .edit-league__buttons {
        flex-direction: column;
        height: fit-content;
    }

    .edit-league__buttons .btn-add-team,
    .edit-league__buttons .edit-league__changes .btn-save-league,
    .edit-league__buttons .edit-league__changes .btn-cancel-edit-league {
        height: 35px;
        width: 100%;
    }

    .edit-league__buttons .edit-league__changes {
        margin-top: 16px;
    }

    .edit-league__buttons .edit-league__changes .btn-save-league {
        margin-left: 0px;
        margin-right: 20px;
    }
}
