.fixture-list {
    margin-top: 20px;
    width: 80%;
    list-style: none;
}

.no-fixtures {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-fixture__btn-generate {
    height: 30px;
    width: 120px;
    margin-top: 10px;
}
