.fixture-list__item {
    margin: 10px 0px;
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.fixture-list__time,
.fixture-list__date {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.fixture-list__details {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.fixture-list__versus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixture-list__details h3 {
    color: rgb(34, 133, 245);
    font-size: 14px;
    font-weight: 500;
}

.fixture-list__details a {
    text-decoration: none;
}

@media (max-width: 750px) {
    .fixture-list__details h3,
    .fixture-list__details a {
        font-size: 12px;
    }

    .fixture-list__details a {
        max-width: 120px;
        display: flex;
        align-items: center;
    }

    .fixture-list__item {
        margin: 10px 0px;
        padding: 20px;
    }
}
