.team-score {
    height: 60px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.team-score a {
    position: absolute;
    text-decoration: none;
}

.team-score p {
    margin-right: 20px;
    position: absolute;
    left: 50%;
}

.team-score input {
    width: 235px;
    position: absolute;
    right: 0px;
}

/* responsiveness */

@media (max-width: 750px) {
    .team-score input {
        width: 185px;
    }
}

@media (max-width: 600px) {
    .team-score input {
        width: 135px;
    }

    .team-score a {
        max-width: 120px;
    }
}
