.search-modal {
    width: 600px;
    margin-top: 10px;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
}

.search-modal__input {
    height: 35px;
    width: 100%;
    padding: 5px 0px 5px 10px;
    border: 2px solid rgb(34, 133, 245);
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.search-modal__input:focus {
    outline: none;
}

.search-modal-message {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search-modal__spinner {
    width: 30px;
    height: 30px;
}

.search-modal__spinner .spinner div {
    width: 2.5px;
    height: 7px;
    background: rgba(0, 0, 0, 0.2);
    transform-origin: 1.45px 11.6px;
}

@media (max-width: 750px) {
    .search-modal {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .search-modal {
        width: 300px;
    }
}
