.instruction-modal__content {
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruction-modal__content p {
    margin: 10px 0px;
}

.instruction-modal__content p span {
    font-weight: 600;
}

.instruction-modal__buttons {
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    display: flex;
    justify-content: end;
}

.instruction-modal__buttons .btn-confirm-instruction {
    margin-right: 10px;
}

.instruction-modal__buttons .btn-cancel-instruction {
    margin-left: 10px;
}
