dialog {
    min-height: 100px;
    padding: 10px;
    position: absolute;
    z-index: 15;
    border: none;
    border-radius: 12px;
}

.modal {
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.search-modal {
    width: 600px;
    margin-top: 10px;
    left: 287px;
    top: 0%;
    transform: none;
}
