dialog {
    min-height: 100px;
    width: 600px;
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    left: 287px;
    z-index: 15;
    border: none;
    border-radius: 12px;
}

.modal-input {
    height: 35px;
    width: 100%;
    padding: 5px 0px 5px 10px;
    border: 2px solid rgb(34, 133, 245);
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.modal-input:focus {
    outline: none;
}
