.confirm-modal {
    padding: 0px 20px 20px 20px;
}
.confirm-modal h2 {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-modal span {
    font-weight: 600;
    margin: 0px 20px;
}

.confirm-modal__btn {
    margin-top: 25px;
    height: 30px;
}
