.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form h1 {
    font-size: 28px;
}

.auth-form .description {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.auth-form section {
    height: 60px;
    width: 400px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.btn-submit-container {
    margin: 10px 0px;
    height: 36px;
    width: 100%;
}
