.fixture-details__buttons {
    width: 80%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.fixture-details_primary-buttons {
    display: flex;
}

.fixture-details__buttons .fixture-details__btn-add,
.fixture-details__buttons .fixture-details__btn-save,
.fixture-details__buttons .fixture-details__btn-cancel {
    margin: 0px 10px;
}

.fixture-details__buttons .fixture-details__btn-save button {
    width: 80px;
    background-color: rgb(37, 192, 81);
}

.fixture-details__buttons .fixture-details__btn-cancel button {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

/* responsiveness */

@media (max-width: 750px) {
    .fixture-details__buttons {
        width: 90%;
    }

    .fixture-details__buttons .fixture-details__btn-add,
    .fixture-details__buttons .fixture-details__btn-save,
    .fixture-details__buttons .fixture-details__btn-cancel {
        margin: 0px 5px;
    }
}

@media (max-width: 400px) {
    .fixture-details__buttons {
        margin-top: 30px;
        height: fit-content;
        flex-direction: column;
    }

    .fixture-details_primary-buttons {
        margin-top: 14px;
    }

    .fixture-details__buttons .fixture-details__btn-save button {
        width: 100%;
    }

    .fixture-details__buttons .fixture-details__btn-add,
    .fixture-details__buttons .fixture-details__btn-save,
    .fixture-details__buttons .fixture-details__btn-cancel {
        height: 35px;
        width: 100%;
        margin: 0px;
    }

    .fixture-details__buttons .fixture-details__btn-save {
        margin-right: 20px;
    }
}
