@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

html,
body,
#root {
    height: 100%;
}

#root {
    width: 100%;
}

a {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: rgb(34, 133, 245);
}

main {
    min-height: calc(100% - 163px);
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 248, 250);
}
