.features {
    width: 100%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features h2 {
    font-size: 35px;
    line-height: 35px;
}

.features__message {
    width: 50%;
    margin: 20px 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.features .card {
    margin: 0px 15px;
    padding: 20px;
}

.features ul {
    margin: 30px 0px;
    list-style: none;
    display: flex;
}

.features ul li {
    width: 220px;
}

.features ul li h3 {
    margin: 10px 0px;
    font-size: 16px;
    line-height: 16px;
}

.features ul li p {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.features ul li img {
    width: 30px;
}

/* responsiveness */

@media (max-width: 1000px) {
    .features .card {
        margin: 0px 10px;
    }

    .features ul li {
        width: 160px;
    }

    .features ul li img {
        width: 20px;
    }

    .features ul li p {
        font-size: 12px;
    }

    .features ul li h3 {
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .features__message {
        width: 300px;
    }

    .features .card {
        margin: 10px 0px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        background-color: white;
    }

    .features ul {
        flex-direction: column;
    }

    .features ul li {
        width: 300px;
    }

    .features ul li h3 {
        font-size: 16px;
    }

    .features ul li p {
        font-size: 14px;
    }

    .features ul li img {
        width: 30px;
    }
}
