.landing-header {
    width: 100%;
    margin: 50px 0px;
    padding: 0px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.landing-header__details {
    width: 60%;
}

.landing-header__details h2 {
    font-size: 45px;
    line-height: 50px;
}

.landing-header__details p {
    line-height: 25px;
    margin: 20px 0px;
    color: rgba(0, 0, 0, 0.6);
}

.landing-header__buttons {
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.landing-header__buttons button {
    width: 140px;
}

.landing-header__image {
    width: 40%;
    display: flex;
    justify-content: center;
}

.landing-header__image img {
    width: 360px;
}
