.disabled-btn,
.btn {
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    transition: background-color ease 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover,
.disabled-btn:hover {
    cursor: pointer;
}

.btn:hover {
    opacity: 0.85;
}

.btn:active,
.disabled-btn:disabled {
    opacity: 0.6;
}

.bg-blue {
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(34, 133, 245);
}

.no-bg {
    color: rgb(34, 133, 245);
    border: 1px solid rgb(34, 133, 245);
    background-color: transparent;
}

.save,
.confirm {
    border: 1px solid rgb(37, 192, 81);
    background-color: rgb(37, 192, 81);
    color: rgb(255, 255, 255);
}

.cancel {
    background-color: transparent;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

.btn__spinner {
    width: 30px;
    height: 30px;
}

.btn__spinner .spinner div {
    width: 2.5px;
    height: 7px;
    background: rgb(255, 255, 255);
    transform-origin: 1.45px 11.6px;
}
