@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

html,
body,
#root {
    height: auto;
    min-height: 100dvh;
}

body {
    position: relative;
}

#root {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: rgb(34, 133, 245);
}

main {
    flex: 1;
    width: 100%;
    background-color: rgb(245, 248, 250);
}

h1,
h2,
h3 {
    font-weight: 600;
}

.error-message {
    max-width: 400px;
    margin: 5px 0px;
    text-align: center;
    color: rgb(255, 134, 130);
    font-size: 14px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrapper-spacing {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .error-message {
        max-width: 300px;
    }
}
