.fixture-teams {
    width: 80%;
    max-width: 800px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.fixture-teams p {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.fixture-teams a {
    text-decoration: none;
}

@media (max-width: 500px) {
    .fixture-teams {
        flex-direction: column;
    }

    .fixture-teams p {
        margin: 10px 0px;
        position: static;
        transform: none;
    }

    .fixture-teams a,
    .fixture-teams p {
        display: flex;
        justify-content: center;
    }
}
