.navigation-links {
    display: flex;
    align-items: center;
}

.navigation-links__create,
.navigation-links__logout {
    height: 30px;
    margin: 0px 10px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.navigation-links__logout {
    color: rgba(0, 0, 0);
    font-size: 14px;
}

.navigation-links__create:hover,
.navigation-links__logout:hover {
    cursor: pointer;
}

.navigation-links__create svg {
    opacity: 0.5;
}

.navigation-links__logout-spinner {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.navigation-links__logout-spinner .spinner div {
    width: 2.5px;
    height: 7px;
    background: rgba(0, 0, 0, 0.2);
    transform-origin: 1.45px 11.6px;
}

/* responsiveness */

@media (max-width: 750px) {
    .navigation-links {
        display: none;
        margin: 0px;
    }
}
