.nav-list {
    list-style: none;
    display: flex;
}

.nav-list__links {
    display: flex;
}

.nav-list__links a {
    text-decoration: none;
    margin: 0px 10px;
}

.nav-list__links a:hover {
    text-decoration: underline;
}

.nav-list__search {
    height: 30px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

/* responsiveness */

@media (max-width: 750px) {
    .nav-list__links a {
        display: none;
        margin: 0px;
    }
}
