.nav-list {
    list-style: none;
    display: flex;
}

.nav-list__links {
    display: flex;
    align-items: center;
}

.nav-list__links a {
    text-decoration: none;
    margin: 0px 10px;
}

.nav-list__links a:hover {
    text-decoration: underline;
}

.nav-list__search {
    height: 30px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.nav-list__auth-buttons {
    height: 30px;
    display: flex;
}

.nav-list__auth-buttons button {
    margin: 0px 10px;
    width: fit-content;
}

.nav-list__menu {
    height: 30px;
    padding: 0px 15px;
    margin: 0px 10px;
    display: none;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.nav-list__menu:hover {
    cursor: pointer;
}

.nav-list__menu img {
    height: 20px;
    width: 20px;
}

/* responsiveness */

@media (max-width: 750px) {
    .nav-list__links a {
        display: none;
        margin: 0px;
    }

    .nav-list__menu {
        display: flex;
    }

    .nav-list__auth-buttons {
        display: none;
    }
}
