.edit-teams {
    width: 100%;
}

.edit-teams__input {
    width: 100%;
    margin: 15px 0px;
    position: relative;
}

.edit-teams__error {
    width: 100%;
    display: flex;
    justify-content: center;
}
